@import 'variables.scss';


.app {
    height: 100vh;
    background-color: $color-bg-primary;
    color: $color-text-primary;
    text-align: center;

    .link:hover {
        cursor: pointer;
    }
}